<h2 mat-dialog-title>Editar usuario</h2>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="user.name" name="name" placeholder="Nombre">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="user.email" name="email" placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rol</mat-label>
    <mat-select [(ngModel)]="user.roleId" name="role">
      <mat-option *ngFor="let role of roles" [value]="role">{{ role.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button color="primary" (click)="save()">Guardar</button>
</div>